/******************************
    == Tags styles ==
******************************/

html {
  text-shadow:0 1px 2px black;
  font-family: "Helvetica Neue";
  overflow: auto;
  font-size: 1em;
  color:white;
}

body {
  height: 100%;
  min-height: 100vh;
  background: #0073AD;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
  letter-spacing: 0.1em;
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #FFFFFF;
  font-size: 1.5em;
  padding: 0 0 0.3em 0;
  box-shadow: 0 1px 0 0 black;
}

h2 {
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

li {
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
}

p {
  font-weight: 100;
  letter-spacing: 0.1em;
}

b {
  font-weight: 300;
}

.orange {
  color: #F89406;
}

/******************************
  == Common in Components ==
******************************/

.wrap {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 2px black;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 2em 0 0 0;
  text-align: left;
}

.fa {
  font-size: 1.7em;
}

.page {
	width: calc(100% - 2rem);
	max-width: 1280px;
  min-height: 85vh;
	margin: 0 auto;
}

/******************************
    == Inputs General==
******************************/
